[Unit]
Description=LocalHelp Backend Service
After=network.target

[Service]
User=localhelp
WorkingDirectory=/app/localhelp-backend
Environment=DB_HOST="db.localhelp.store"
ExecStart=/usr/bin/java -jar /app/localhelp-backend/app.jar
Restart=always

[Install]
WantedBy=multi-user.target
EOF