[Unit]
Description=LocalHelp Backend Service
After=network.target

[Service]
User=localhelp
Environment=DB_HOST="db.localhelp.store"
ExecStart=/usr/bin/java -jar $JARFILE
Restart=always

[Install]
WantedBy=multi-user.target
EOF